.btn {
  padding: 0.6rem 0.8rem;
  color: #fff;
  background-color: #009879;
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  transition: all 0.2s;
  font-size: 1rem;
  font-size: 500;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn:hover {
  transform: translateY(-3px);
}
