body {
  font-family: "Montserrat", sans-serif;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #ffffff;
  padding: 2rem 3vw;
  border-left: 5vw solid #192f48;
}

.date {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-left: 16px solid #009879;
  font-family: inherit;
  font-weight: 400;
}

.date:focus,
.date:active {
  outline: none;
}

.btn-div-show {
  display: flex;
  flex-wrap: wrap;
  gap: 1.9rem;
  margin: 4rem 0;
  transition: all 0.2s;
}

.input-div {
  display: flex;
  justify-content: space-between;
}

.settingsbtn,
.normalbtn {
  padding: 0.6rem 0.5rem;
  width: 7rem;
  color: black;
  background-color: transparent;
  border-radius: 3px;
  text-align: left;
  border: 1px solid #bfc8cb;
  transition: all 0.2s;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: inherit;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon {
  font-size: 1rem;
}
